version: '3.8'

services:
  backend:
    build: ./backend
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./backend:/backend
    ports:
      - '8000:8000'
    environment:
      - DEBUG=${DEBUG} # Set to 1 in development
      - SECRET_KEY=${SECRET_KEY}
      # Add other environment variables here
      - DATABASE_URL=${DATABASE_URL}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    #  env_file: #uncomment if needed to run docker locally
    #    - ./.env
    depends_on:
      - db
  db:
    image: postgres:12
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/frontend
    ports:
      - '3000:80'
    environment:
      - NODE_ENV=production
    command: nginx -g 'daemon off;'

volumes:
  postgres_data:
